---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="test page">
  <h1 class="text-red-500">Test Astro</h1>
  <img src="/images/r.jpg" alt="img" class="w-40 h-40">
</DefaultLayout>
